<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="fluid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <fluid.Properties.Settings>
            <setting name="IsFirstTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsFirstTimeConnectError" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DormHead" serializeAs="String">
                <value />
            </setting>
            <setting name="ChairPerson" serializeAs="String">
                <value />
            </setting>
            <setting name="Wareki" serializeAs="String">
                <value />
            </setting>
            <setting name="Point" serializeAs="String">
                <value />
            </setting>
            <setting name="Reason" serializeAs="String">
                <value />
            </setting>
        </fluid.Properties.Settings>
    </userSettings>
</configuration>